<h1>投稿一覧</h1>
<!-- 各レコードの内容は、listという変数に格納されます。 -->
<% @lists.each do |list| %>  
<!-- @lists.eachと記述することで、Listレコードの数だけ繰り返し処理を行います。 -->
  <p>タイトル</p>
  <span>  <!-- list.[カラム名]ここではlist.titleと記述することで、レコードのカラムの内容を表示できます。 -->
    <%= link_to list.title, list_path(list.id) %>  <!--「:id」がどんな値なのかを指定しないといけないため、listsには引数を指定します。指定する値はレコードのidカラムです。 -->
  </span>
  
  <p>画像</p> <!-- imgタグを生成するimage_tagヘルパーを使い、画像の表示を行います。 -->
  <%= image_tag list.image, size: "200x200" %> <!-- listに紐ついているimageをimage_tagに渡すことで画像を表示する。画像サイズを200x200に設定 -->
  
<% end %>