<!--<h1>Homes#top</h1>-->
<!--<p>Find me in app/views/homes/top.html.erb</p>-->

<div class="title-page">
  <h2 class="title-text">ようこそ</h2>
  <%= image_tag 'toni-frost-39Uw7G6W9Y8-unsplash', size: "500x500"%>
</div>